<body class="sobre-mi">
    <div class="grid-container">
        <div class="grid-item">
            <img src="../../../assets/imagenes/1666723088227.jpg" class="perfil">
        </div>
       <div class="yo">
           <div  class="grid-item">
            <p id="nombre">Leandro Emanuel{{persona.nombre}}<br>Muzalski{{persona.apellido}} </p>
            <p>Full Stack <br>Develoger Jr</p>
            </div>
           <div  class="grid-item">
                <div class="acerca-mi">
                    <h1>Acerca de mi</h1>
                    <p>Me llamo Leandro Emanuel Muzalski tengo 19 años soy de Oberá Misiones Argentina.Actualmente estoy 
                        cursando Ingenieria en Computacion en la Unam de Oberá. Sigo en constante aprendizaje dentro de este mundo
                        tan amplio del desarrollo
                    </p>
                </div>
           </div>
       </div>
    </div>
</body>